<div class="container">
	<h1>
	<div class="row">
		<div class="col-md-8"> 
			<p>The <a href="https://data.cityofnewyork.us/Business/Filming-Locations-Scenes-from-the-City-/qb3k-n8mm">dataset</a> for this website was made available by <a href="https://data.cityofnewyork.us/">NYC Open Data</a>, and is based on the book <a href="http://www.nyc.gov/html/film/html/for_fans/scenes_from_the_city.shtml">"Scenes from the City: Filmmaking in New York, 1966 - 2006."</a> edited by James Sanders and produced with the NYC Mayor's Office of Film, Theatre and Broadcasting.</p>
		</div>
		<br>
		<div class="col-md-4"> 
			<%= image_tag "scenes_from_the_city.jpg" %>
		</div>
	</div>
	<br>
	<div class="row">
		<p>
			Movie details for film profiles were gathered using the <a href="http://www.rottentomatoes.com/">Rotten Tomatoes</a> API.
		</p>
	</div>
	</h1>
<div>